.module.menuz{
    padding:10px;
}
.clearfix{
    clear:both;
    height:0;
}

img.loading, img.menu_update_loading{
    display:none;
}

/*----------------- Menu Item ---------------------*/
.menu_container{
    width:28%;
    float:left;
    background:#fff;
    border:1px dashed #ccc;
    height:700px;
    padding:5px;
}
.menu_container .menu_loading{
    font-size:11px;
    color:#555;
    display:block;
    padding:5px 0;
    text-align:center;
    margin-bottom:5px;
    display:none;
}
.menu_container ol{
	margin: 0;
	padding: 0;
	padding-left: 30px;
}

ol.sortable, ol.sortable ol {
	margin: 0 0 0 25px;
	padding: 0;
	list-style-type: none;
}

ol.sortable {
	margin: 0;
}

.sortable li {
	margin: 5px 0 0 0;
	padding: 0;
}

.sortable li div  {
	border: 1px solid #d4d4d4;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-color: #D4D4D4 #D4D4D4 #BCBCBC;
	padding: 6px;
	margin: 0;
	cursor: move;
	background: #f6f6f6;
	background: -moz-linear-gradient(top,  #f9f9f9 0%, #f6f6f6 47%, #ddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(47%,#f6f6f6), color-stop(100%,#ddd));
	background: -webkit-linear-gradient(top,  #f9f9f9 0%,#f6f6f6 47%,#ddd 100%);
	background: -o-linear-gradient(top,  #f9f9f9 0%,#f6f6f6 47%,#ddd 100%);
	background: -ms-linear-gradient(top,  #f9f9f9 0%,#f6f6f6 47%,#ddd 100%);
	background: linear-gradient(top,  #f9f9f9 0%,#f6f6f6 47%,#ddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ddd',GradientType=0 );
}
.placeholder {
	border: 1px dashed #bbb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height: 30px;
	display:block;
}
.menu_container li{
    list-style:none;
    margin:0;
    padding:0;
}
.menu_container .menu_item{
    padding:5px;
    border:1px solid #ddd;
    margin-bottom:5px;
}
.menu_container .menu_item.hovered{
    border:1px solid #aaa;
}
.menu_container .menu_item h2{
    background:none;
    border:none;
    color:#000;
}
.menu_container .menu_item h2 .title{
    cursor:move;
}
.menu_container .menu_item h2 .move{
    display:block;
    width:7px;
    height:15px;
    background:url(../images/icons.png) no-repeat -132px -50px;
    float:left;
    margin-right:5px;
}
.menu_container .menu_item h2 a.edit{
    width:10px;
    height:8px;
    background:url(../images/icons.png) no-repeat -67px -20px;
    float:right;
    display:block;
    margin-top:2px;
}
.menu_container .menu_item h2 a.edit.active{
    background:url(../images/icons.png) no-repeat -2px -20px;
}
.menu_container .menu_item h2 a.delete{
    width:7px;
    height:7px;
    background:url(../images/icons.png) no-repeat -85px -213px;
    float:right;
    display:block;
    margin-top:3px;
    margin-left:10px;
}
.menu_container .menu_item .menu_editor{
    border-top:1px solid #ddd;
    padding:5px;
    background:#f9f9f9;
    display:none;
}
/*-----------AVAILABLE MENU STYLE-------------*/
.menu_available{
    width:70%;
    float:left;
    margin-left:10px;
}
.menu_available .error,
.menu_editor input.error{
    border:1px solid red;
}
.menu_available .block_menu{
    width:250px;
    padding:10px;
    height:330px;
    background:#f9f9f9;
    float:left;
    margin-left:10px;
    margin-bottom:10px;
    border:1px solid #ddd;
}

.menu_available .error{
    border:1px solid red;
}

.menu_available .block_menu h3{
    font-size:16px;
    display:block;
    border-bottom:1px solid #ccc;
    padding-bottom:5px;
    font-family:arial;
    margin-top:-2px;
}
.menu_available .block_menu .block_content{
    padding:5px 0;
    overflow:auto;
    height:210px;
}
.menu_available .block_menu p{
    margin:5px 0;
}
.menu_available .block_menu input.vTextField{
    padding:5px;
}
.block_content label{
    display:block;
    padding:1px 5px;
}

